@model Byte[]

@{
    ViewBag.Title = "Generate QR Code";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Implementing QRCoder in ASP.NET Core - Create QR Code</title>
</head>
<body>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <h2 style="color: #3498DB; font-weight: bold">Tạo QR Code</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        <h4 style="font-style:italic; color: #3498DB">* Chọn sản phẩm cần tạo QR Code</h4>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select name="qrText" style="height: 29px; font-size: 18px;">
                            <option value="">Chọn sản phẩm</option>
                            @{
                                using (var ProductDB = new AFakeProductIdentificationSystem.Models.FakeRealProductSystemEntities())
                                {
                                    var _product = ProductDB.Products.ToList();
                                    ViewBag.ListProduct = _product;
                                };
                                foreach (var item in ViewBag.ListProduct)
                                {
                                    <option value="@item.pr_id">@item.pr_name</option>
                                };
                            }

                        </select>
                        <button style="height: 30px; width: 90px; background-color: #3498DB; color: #fff; border-width: 0px; border-radius: 2px; font-weight: bold">Xác nhận</button>
                    </td>
                </tr>
            </tbody>
        </table>
    }

    @{
        if (Model != null)
        {
            <h3 style="color: #3498DB">Mã QR khởi tạo thành công!</h3>
            <h4 style="font-style:italic;color:red;">* Sử dụng trình quét QR Code của smartphone để quét mã</h4>
            <div style="display: flex;flex-direction: column;">
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model))" width="500" height="500" />
                <a download="@String.Format("AFPIS-{0}.png",Guid.NewGuid())" href="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model))" style="margin-left: 180px;margin-top: -30px;">Tải xuống QRCode</a>
            </div>
        }
    }
</body>
</html>
